{% load static %}
<title>{{ task_data.task_name }}</title>
<link rel="icon" href="{% static 'todo/icons/todo.png' %}">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'todo/styles/nav.css' %}">
<link rel="stylesheet" href="{% static 'todo/styles/task.css' %}">
<script src="{% static 'todo/javascript/color_theme.js' %}"></script>

<body id="bg"><script>setBody()</script>
    <nav class="navbar navbar-dark bg-dark margin_nav">
        <div class="titles">
            <a id="name" class="navbar-brand" href="{% url 'todo:index' %}">TODOAPP</a>
            <a class="nav-link nav_link" href="{% url 'todo:index' %}">Dashboard </a>
            <a class="nav-link nav_link" href="{% url 'todo:new' %}">Add Task </a>
        </div>
        <div class="titles" id="userinfo">
            <a href="#" onclick="toggleTheme('task');return false;">
                <img id="theme-icon" src="" alt="theme icon"><script>setIcon()</script>
            </a>
            <a class="nav-link nav_link" href="{% url 'logout' %}">Logout </a>
            <p class="" id="user_name">{{ user_name }}</p>
        </div>
    </nav>

    <div class="body-content" id="task-body"><script>setTaskBody()</script>
        <div class="task-container" id="form-bg"><script>setForm()</script>
            <h1>{{ task_data.task_name }}</h1>

            <h3>{{ task_data.task_description }}</h3>

            <div id="task-data">
                <div>
                    <p>Create Date: </p>
                    <p>Due date: </p>
                    <p>Status: </p>
                </div>
                <div id="data">
                    <p>{{ task_data.create_date }}</p>
                    <p>{{ task_data.due_date }}</p>
                    <p>{{ status }}</p>
                </div>
            </div>

            <div class="options">
                <form action="{% url 'todo:task' task_data.id%}" method="post">
                    {% csrf_token %}
                    {% if task_data.done %}
                        <button type="submit" name="cmp" class="btn btn-primary">Uncomplete Task</button>
                    {% else %}
                        <button type="submit" name="cmp" class="btn btn-success">Complete Task</button>
                    {% endif %}
                    <button type="submit" name="rm" class="btn btn-danger">Remove Task</button>
                </form>
            </div>
        </div>
    </div>
</body>
