/* p {
    font-size: x-large;
    color: green;
} */

.blocks {
    display: flex;
    flex-wrap: wrap;
}

.task_block {
    aspect-ratio: 1 / 1;
    width: 16em;
    border: 1px black solid;
    border-radius: 16px;
    margin: 1%;
    padding-left: 1%;
    position: relative;
}

.task_details {
    position: absolute;
    bottom: 0;
}
